.detail_main{
    width: 100%;
    display: flex;
    gap: 10px;
    position: relative;
}

.detail_main_left{
    width: 64%;
}

.detail_main_right{
    width: 36%;
    height: max-content;
    padding: 20px 0 0 20px;
    position: sticky;
    top: 110px;
    background: var(--white-bg);
}

.detail_main_left_images{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.detail_main_left_img{
    width: 49.4%;
    height: 700px;
    background: var(--white-bg1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.full-width{
    width: 100%;
}

.detail_main_left_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    mix-blend-mode: darken;
}

.detail_main_left_desc,
.detail_main_left_characters{
    width: 100%;
    background: var(--white-bg1);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 30px;
}

.detail_main_left_desc_title{
    font-size: 24px;
    font-weight: 600;
    color: var(--black-bg);
}

.detail_main_left_desc_body{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.025em;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--black-bg);
    transition: .3s;
}

.detail_main_left_desc_body_open{
    -webkit-line-clamp: unset;
    transition: .3s;
}

.detail_main_left_desc_arrow{
    margin: auto;                                                                            
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
}

.detail_main_left_desc_arrow_opposite{
    transform: rotateX(180deg);
}

.detail_main_left_character_body{
    margin-top: 15px;
}

.detail_main_left_character{
    display: flex;
    align-items: center;
}

.detail_main_left_character_title{
    font-size: 17px;
    font-weight: 600;
    color: var(--black-bg);
    width: 375px;
    padding: 18px 0;
}

.detail_main_left_character_txt{
    font-size: 16px;
    font-weight: 400;
    color: var(--black-bg);
    border-top: 1px solid var(--gray-bg);
    padding: 18px 0;
}

.prodeuct_detail_brand{
    font-size: 18px;
    font-weight: 500;
    color: var(--blue);
    text-decoration: underline;
    text-transform: capitalize;
}

.product_detail_title{
    font-size: 20px;
    font-weight: 600;
    color: var(--black-bg);
    margin-top: 20px;
}

.product_details,
.product_details_quantity{
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 100px;
}

.product_detail_color_title{
    font-size: 16px;
    font-weight: 500;
    color: var(--black-bg);
    text-transform: capitalize;
}

.product_detail_boxes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.product_detail_color{
    width: 34px;
    height: 34px;
    background: green;
    border-radius: 50%;
    box-shadow: 0px -1px 1px 0px rgba(29, 29, 31, 0.06) inset;
    box-shadow: 0px 1px 1px 0px rgba(29, 29, 31, 0.12) inset;
    cursor: pointer;
    border: 2px solid var(--blue);
}

.product_detail_box{
    border: 1px solid var(--gray-bg);
    padding: 8px;
    cursor: pointer;
    user-select: none;
    opacity: .5;
    font-size: 16px;
}

.product_detail_box_active{
    border-color: var(--blue);
    opacity: 1;
}

.product_detail_quantity{
    display: flex;
    align-items: center;
    gap: 10px;
}

.product_detail_quantity_box{
    width: 104px;
    height: 38px;
    border: .5px solid var(--gray-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.product_detail_quantity_box button{
    font-size: 17px;
    cursor: pointer;
}

.product_detail_quantity_p{
    font-size: 14px;
    font-weight: 400;
    color: var(--blue);
}

.detail_main_right_bottom{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.detail_main_right_bottom_p{
    font-size: 32px;
    font-weight: 700;
    color: var(--black-bg);
}

.detail_main_right_bottom_btn,
.detail_main_right_bottom_btn1{
    width: 100%;
    height: 45px;
    background: var(--blue);
    color: var(--white-bg);
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.detail_main_right_bottom_btn{
    margin-top: 30px;
}

.detail_main_right_bottom_btn1{
    margin-top: 10px;
    background: var(--black-bg);
}

.detail_main_right_heart{
    width: 42px;
    height: 42px;
    box-shadow: 0px 1px 4px 0px rgba(9, 9, 9, 0.12);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    cursor: pointer;
    position: absolute;
    background: var(--white-bg);
    top: 5px;
    right: 0;
    color: var(--gray-bg);
    transition: .3s;
}

.detail_main_right_heart:hover{
    color: var(--blue);
}

.heart_liked{
    box-shadow: 0px 1px 4px 2px rgb(0, 3, 179);
    color: var(--blue);
}
/* swiper */
.detail_main_swiper{
    display: none;
}

.detail_main_swiper_img{
    width: 100%;
    height: 500px;
    background: var(--white-bg1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.detail_main_swiper_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.detail_main_swiper .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
}

.detail_main_swiper .swiper-pagination-bullet-active{
    background: var(--black-bg);
}

@media screen and (max-width: 868px) {
    .detail_main{
        flex-direction: column-reverse;
    }

    .detail_main_left_images{
        display: none;
    }

    .detail_main_swiper{
        display: flex;
    }

    .detail_main_left,
    .detail_main_right{
        width: 100%;
    }

    .detail_main_right{
        position: relative;
        top: 0;
    }

    
}

@media screen and (max-width: 414px) {
    .detail_main_swiper_img{
        height: 300px;
    }

    .prodeuct_detail_brand{
        font-size: 14px;
    }

    .product_detail_title{
        font-size: 16px;
    }

    .product_detail_color_title{
        font-size: 14px;
    }

    .product_detail_color{
        width: 28px;
        height: 28px;
    }

    .product_detail_box{
        font-size: 14px;
    }

    .product_details{
        margin-top: 30px;
    }

    .product_details_quantity{
        gap: 50px;
    }

    .product_detail_quantity_p{
        font-size: 10px;
    }

    .product_detail_quantity_box{
        width: 84px;
    }

    .product_detail_quantity_box button{
        font-size: 14px;
    }
}