/* settings */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
}

:root{
    --white: #fff;
    --black: #000;
    --black-bg: #212529;
    --black-rgb: radial-gradient(71.06% 126.5% at 50% 50%, rgba(29, 29, 29, 0) 0%, #1D1D1D 100%);
    --white-bg: #FEFEFE;
    --white-bg1: #F5F5F7;
    --white-bg2: #FAFAFA;
    --gray-bg: #BFC0C0;
    --gray-bg1: #D9D9D980;
    --gray-rgb: rgba(0, 0, 0, .3);
    --blue: #07059A;
    --blue-bg: #3eadff;
    --red-bg: #E52134;
}

.container{
    width: 100%;
    margin: auto;
    padding: 0 20px;
}

a{
    text-decoration: none;
}

button,
input{
    border: none;
    background: none;
    outline: none;
}

/* 404 page */
.notfound{
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: red; */
}

.notfound_text{
    font-size: 100px;
    font-weight: 500;
    color: var(--black-bg);
}

.notfound_number{
    font-size: 200px;
    font-weight: 700;
    color: var(--red-bg);
}

.notfound_l-text{
    font-size: 50px;
    font-weight: 500;
}

.notfound_btn{
    width: 300px;
    height: 59px;
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
    position: relative;
    /* overflow: hidden; */
}

.notfound_btn:after{
    content: "";
    width: 41px;
    height: 41px;
    position: absolute;
    bottom: 9px;
    left: -21px;
    background: var(--blue);
    transform: rotate(45deg);
}