.order_main{
    width: 100%;
    margin: 40px 0;
}

.order_container{
    width: 100%;
    max-width: 972px;
    margin: auto;
    padding: 0 20px;
}

.order_main_header{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order_main_header_left{
    display: flex;
    align-items: center;
    gap: 20px;
}

.order_main_header_left_allorder,
.order_main_header_left_sort{
    font-size: 16px;
    font-weight: 400;
    color: var(--black-bg);
    display: flex;
    align-items: center;
    gap: 5px;
    user-select: none;
    cursor: pointer;
}

.order_main_header_left_allorder span,
.order_main_header_left_sort span{
    position: relative;
    top: 3px;
}

.order_main_header_right{
    width: 480px;
    height: 100%;
    border: 1px solid var(--gray-bg);
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding:  0 10px;
}

.order_main_header_right input{
    flex: 1;
}

.order_main_header_right span{
    font-size: 20px;
    color: var(--gray-bg);
}

.order_main_body{
    width: 100%;
}

.order_main_body_box{
    width: 100%;
    border: 1px solid var(--gray-bg);
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

.order_main_body_box_header{
    width: 100%;
    padding: 24px;
    border-bottom: 1px solid var(--gray-bg);
    background: var(--white-bg);
}

.order_main_body_box_header_numb{
    font-size: 20px;
    font-weight: 500;
    color: var(--black-bg);
}

.order_main_body_box_info{
    padding: 24px;
    display: flex;
    background: var(--white-bg);
    z-index: 1;
}

.order_main_body_box_info_left,
.order_main_body_box_info_right{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.order_main_body_box_info_right{
    padding-left: 24px;
    border-left: 1px solid var(--gray-bg);
}

.order_main_body_box_info_left{
    padding-right: 24px;
}

.order_main_body_box_info_left_box{
    width: 100%;
    display: flex;
}

.order_main_body_box_info_left_box p{
    width: 50%;
    font-size: 16px;
    font-weight: 500;
    color: var(--black-bg);
    display: flex;
    align-items: center;
    gap: 10px;
}

.order_main_body_box_info_left_box p span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
}

.order_main_body_box_products{
    width: 100%;
    background: var(--white-bg2);
    overflow: hidden;
    /* transition: .3s ease-in-out; */
}

.order_main_body_box_products_close{
    transform:  translateY(-100%);
    position: absolute;
    z-index: -1;
    transition: .3s;
}

.order_main_body_box_product{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    border-bottom: 1px solid var(--gray-bg);
}

.order_main_body_box_product:last-child{
    border-bottom: none;
}

.order_main_body_box_product_left{
    display: flex;
    align-items: center;
    gap: 20px;
}

.order_main_body_box_product_left_img{
    width: 117px;
    height: 122px;
    background: var(--white-bg1);
}

.order_main_body_box_product_left_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    mix-blend-mode: darken;
}

.order_main_body_box_product_left_txt{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order_main_body_box_product_left_txt_title{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-bg);
}

.order_main_body_box_product_left_txt_attribute{
    display: flex;
    gap: 20px;
}

.order_main_body_box_product_left_txt_attribute p:first-child{
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-bg);
}

.order_main_body_box_product_left_txt_attribute p:nth-child(2){
    font-size: 16px;
    font-weight: 400;
    color: var(--black-bg);
}

.order_main_body_box_product_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.order_main_body_box_product_right_price,
.order_main_body_box_product_right_count{
    font-size: 18px;
    font-weight: 500;
    color: var(--black-bg);
}

.order_main_body_box_product_right_title{
    display: none;
}

.order_main_body_box_bottom{
    width: 100%;
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white-bg2);
    border-top: 1px solid var(--gray-bg);
    padding: 0 24px;
    cursor: pointer;
}

.order_main_body_box_bottom p{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-bg);
}

.order_main_body_box_bottom_arrow{
    font-size: 20px;
    transition: .3s;
}

.order_main_body_box_bottom_arrow_open{
    transform: rotate(180deg);
}

.order_not{
    height: calc(100vh - 430px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.order_not_title{
    font-size: 14px;
    font-weight: 400;
    color: var(--black-bg);
}

.order_not_btn{
    width: 112px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue);
    color: var(--white-bg);
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
}

@media screen and (max-width: 868px){
    .order_main_header{
        flex-direction: column-reverse;
        gap: 10px;
        height: auto;
    }

    .order_main_header_left{
        width: 100%;
        justify-content: space-between;
    }

    .order_main_header_right{
        width: 100%;
        height: 40px;
    }

    .order_main_body_box_header_numb{
        font-size: 16px;
    }

    .order_main_body_box_info{
        flex-direction: column;
    }

    .order_main_body_box_info_left,
    .order_main_body_box_info_right{
        width: 100%;
        border: none;
        padding: 0;
        gap: 0;
    }

    .order_main_body_box_info_left_box{
        margin-top: 10px;
    }

    .order_main_body_box_info_left .order_main_body_box_info_left_box:first-child{
        margin: 0;
    }

    .order_main_body_box_info_left_box p{
        font-size: 14px;
    }

    .order_main_body_box_product{
        flex-direction: column;
    }

    .order_main_body_box_product_right{
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
    }

    .order_main_body_box_product_right_count{
        display: none;
    }

    .order_main_body_box_product_right_title{
        /* font-size: 14px; */
        font-weight: 400;
        color: var(--gray-bg);
        display: flex;
    }
}

@media screen and (max-width: 540px){
    .order_main_body_box_product_left_txt_title{
        font-size: 14px;
    }

    .order_main_body_box_product_left_txt_attribute p:first-child{
        font-size: 14px;
    }
    
    .order_main_body_box_product_left_txt_attribute p:nth-child(2){
        font-size: 14px;
    }

    .order_main_body_box_product_right_title{
        font-size: 14px;
    }

    .order_main_body_box_product_right_price{
        font-size: 16px;
    }

    .order_main_body_box_bottom p{
        font-size: 14px;
    }

    .order_main_body_box_bottom_arrow{
        font-size: 16px;
    }

    .order_main_header_left_allorder,
    .order_main_header_left_sort{
        font-size: 14px;
    }
}